/* 全局修改slider的样式 */

html,
body {
    margin: 0;
    padding: 0;
}


/* 主页布局共同样式 */

.commonBox {
    padding: 2vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
}

.more {
    color: #fff;
}

.el-slider__button {
    width: 6px;
    height: 6px;
    border: 2px solid #ffffff;
}

.el-slider__button:hover {
    cursor: default;
}

.el-slider__button-wrapper.hover,
.el-slider__button-wrapper:hover {
    cursor: default;
}

.el-slider__bar {
    background-color: #EC4141;
}

.el-slider__bar:hover {
    cursor: default;
}

.el-slider__runway {
    cursor: default;
}


/* 去掉全局scrollbar的底部滚动条 */

.el-scrollbar__wrap {
    overflow-x: hidden;
}

.el-scrollbar__thumb {
    position: relative;
    display: none!important;
}


/* 按钮悬浮效果 */

.el-button--danger {
    background: #FE3C32;
    border-color: #FE3C32;
    color: #FFF;
}

.el-button--default {
    background: rgba(10, 10, 10, 0.274);
    border-color: rgba(10, 10, 10, 0.274);
    color: #fff;
}

.el-button--danger:focus,
.el-button--danger:hover {
    background: #FE3C32;
    border-color: #FE3C32;
    color: #FFF;
}

.el-button--default:focus,
.el-button--default:hover {
    background: rgba(10, 10, 10, 0.274);
    border-color: rgba(10, 10, 10, 0.274);
    color: #fff;
}


/* 歌曲列表样式 */

.el-table,
.el-table__expanded-cell {
    color: #fff;
}

.el-table--enable-row-hover .el-table__body tr>td {
    background-color: transparent !important;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    cursor: pointer;
    background-color: rgba(93, 90, 90, 0.274) !important;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: rgba(66, 64, 64, 0.308);
}

.el-table td,
.el-table th.is-leaf {
    border-bottom: 1px solid rgba(46, 43, 43, 0.226);
}

.el-table__empty-block {
    min-height: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 33, 33, 0.822) !important;
    border-bottom: 1px solid rgba(34, 33, 33, 0.822);
}

.el-table__empty-text {
    line-height: 60px;
    width: 50%;
    color: #fff;
    background: transparent;
}