/* 全局修改slider的样式 */

.el-slider__button {
    width: 6px;
    height: 6px;
    border: 2px solid #ffffff;
}

.el-slider__button:hover {
    cursor: default;
}

.el-slider__button-wrapper.hover,
.el-slider__button-wrapper:hover {
    cursor: default;
}

.el-slider__bar {
    background-color: #EC4141;
}

.el-slider__bar:hover {
    cursor: default;
}

.el-slider__runway {
    cursor: default;
}


/* 去掉全局scrollbar的底部滚动条 */

.el-scrollbar__wrap {
    overflow-x: hidden;
}

.el-scrollbar__thumb {
    position: relative;
    display: none!important;
}